/*  Josh's Custom CSS Reset  https://www.joshwcomeau.com/css/custom-css-reset/*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  /* border: 1px solid navy; */
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family:
    system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 25px;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
  font-weight: 400;
  color: grey;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  font-family: "Playfair Display", serif;
  font-weight: 500;
  color: black;
}
#root,
#__next {
  isolation: isolate;
}

.dropshadow {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.background-shape {
  width: 100vw;
  height: 800px;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  background-color: blue;
  transform: translateY(-250px) skewY(-12.7deg);
}

.about {
  padding: 62px 90px;
  display: flex;
  /* background-color: cyan; */
}

.profile-pic {
  width: 547px;
  height: 596px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-image: url("https://images.pexels.com/photos/4584065/pexels-photo-4584065.jpeg");
  background-position: center;
  background-size: cover;
  z-index: 1;
}

.profile-pic h1 {
  font-size: 72px;
  color: white;
  text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.bio {
  margin: 62px 0px 48px 0px;
  padding: 32px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
}

.bio .social-icons {
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 28px;
}

.bio .social-icons img {
  height: 34px;
}

.my-work {
  padding: 62px 90px 126px 90px;
}

.my-work h1 {
  margin-bottom: 1rem;
}

.work-card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 60px;
  column-gap: 50px;
}

.work-card {
  /* width: ; */
  height: 468px;
  display: flex;
  flex-direction: column;
}

.work-img {
  padding: 28px;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: red;
}

.work-img p {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-size: 54px;
  color: white;
  text-align: center;
  line-height: 1.2;
}

.work-text {
  padding: 28px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.work-text .heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.share-links {
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 24px;
}

.share-links img {
  height: 28px;
}

.work-text .name {
  color: black;
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-size: 24px;
}

.work-text .caption {
  font-size: 18px;
  line-height: 1.2;
}

.footer {
  padding: 70px 90px;
  height: 706px;
  display: flex;
  /* gap: 48px; */
  background-color: blue;
}

.contact-me {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.contact-me h1 {
  color: white;
}

.contact-me p {
  color: white;
  line-height: 1;
  text-wrap: balance;
}

.contact-me .social-icons {
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 28px;
}

.contact-me .social-icons img {
  height: 48px;
}

.footer-img {
  width: 750px;
  flex-shrink: 0;
  background-color: white;
}

@media (max-width: 1024px) {
  .work-card-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 60px;
    column-gap: 50px;
  }
}

@media (max-width: 375px) {
  .work-card-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 60px;
    column-gap: 50px;
  }
}
