/*  Josh's Custom CSS Reset  https://www.joshwcomeau.com/css/custom-css-reset/*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  /* border: 1px solid navy; */
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family:
    system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
#root,
#__next {
  isolation: isolate;
}

@media (max-width: 375px) {
}

@media (max-width: 1024px) {
}

.dropshadow {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.about {
  padding: 62px 90px;
  display: flex;
  background-color: cyan;
}

.profile-pic {
  width: 547px;
  height: 596px;
  flex-shrink: 0;
}
.profile-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bio {
  margin: 62px 0px 48px 0px;
  padding: 32px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: white;
}

.bio .social-icons {
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 8px;
}

.social-icons img {
  height: 32px;
}

.my-work {
  padding: 62px 90px 126px 90px;
}

.work-card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 60px;
  column-gap: 50px;
}

.work-card {
  /* width: ; */
  height: 468px;
  display: flex;
  flex-direction: column;
}

.work-img {
  padding: 28px;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: red;
}

.work-desc {
  padding: 28px;
  flex-grow: 1;
}

.footer {
  padding: 70px 90px;
  height: 706px;
  display: flex;
  background-color: cyan;
}

.contact-me {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.contact-me .social-icons {
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 8px;
}

.footer-img {
  width: 750px;
  background-color: white;
}
